body {
    color: #ffffff;
}
.navbar {
    background-color: #121212;
}
.logo__img {
    width: 80px;
    height: 40px;
}
.input-group {
    width: 400px;
}

.logo2__img {
    width: 65px;
    height: 20px;
}